---
layout: default
title: Home
---
<h1 class="page-title">Welcome</h1>
<p>
Hi there! My name is Jason Ellul - I am a software engineering student and an IT Consultant at the University of Guelph, located in Guelph, Ontario. I am currently in my third year of university, and I am always looking for new opportunities to <i>develop</i> my passion for programming and design both inside and outside of school. Feel free to <a>contact me</a> about any inquiries you may have!
</p>
<br>
<!-- grid -->
<div id="grid" class="row flex-grid">
      <article class="box-item post-red" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">

          <div class="box-body">
              <a class="post-link" href="{{ site.baseurl | remove_first: '/'}}/about">
                  <h2 class="post-title" itemprop="name">
                      About Me
                  </h2>
              </a>
              <a class="post-link" href="{{ site.baseurl | remove_first: '/'}}/about">
                  <p class="description">Get to know me personally. A profile of my interests, hobbies, and goals.</p>
              </a>
              <div class="tags">
                  <a href="{{ site.baseurl | remove_first: '/'}}/about">about me</a>

              </div>
          </div>
      </article>

      <article class="box-item post-green" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">

          <div class="box-body">
              <a class="post-link" href="{{ site.baseurl | remove_first: '/'}}/resume">
                  <h2 class="post-title" itemprop="name">
                      Resume
                  </h2>
              </a>
              <a class="post-link" href="{{ site.baseurl | remove_first: '/'}}/resume">
                  <p class="description">A summary of my skills, recent employment history, and achievements.</p>
              </a>
              <div class="tags">
                  <a href="{{ site.baseurl | remove_first: '/'}}/resume">resume</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/coop">co-op work reports</a>

              </div>
          </div>
      </article>

      <article class="box-item post-orange" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
          <span class="ribbon">
              <a href="{{ site.baseurl | remove_first: '/'}}/projects"><span>Swift</span></a>
          </span>
          <div class="box-body">
              <a class="post-link" href="{{ site.baseurl | remove_first: '/'}}/projects">
                  <h2 class="post-title" itemprop="name">
                      Motive
                  </h2>
              </a>
              <a class="post-link" href="{{ site.baseurl | remove_first: '/'}}/projects">
                  <p class="description">Motive is a map-based social network I created where users can ... coming soon exclusively to iOS.</p>
              </a>
              <div class="tags">
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">frontend</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">backend</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">swift</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">node.js</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">firebase</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">mapbox</a>

              </div>
          </div>
      </article>

      <article class="box-item post-blue" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
          <span class="ribbon">
              <a href="{{ site.baseurl | remove_first: '/'}}/projects"><span>JS</span></a>
          </span>
          <div class="box-body">
              <a class="post-link" href="{{ site.baseurl | remove_first: '/'}}/projects">
                  <h2 class="post-title" itemprop="name">
                      GEDCOM Genealogy Parser
                  </h2>
              </a>
              <a class="post-link" href="{{ site.baseurl | remove_first: '/'}}/projects">
                  <p class="description">The GEDCOM Genealogy Parser is a web application that uses dynamic libraries written in C to parse family tree data into a readable format.</p>
              </a>
              <div class="tags">
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">frontend</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">backend</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">node.js</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">html</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">css</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">sql</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">c</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">academic</a>
              </div>
          </div>
      </article>

      <article class="box-item post-purple" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
          <span class="ribbon">
              <a href="{{ site.baseurl | remove_first: '/'}}/projects"><span>Perl</span></a>
          </span>
          <div class="box-body">
              <a class="post-link" href="{{ site.baseurl | remove_first: '/'}}/projects">
                  <h2 class="post-title" itemprop="name">
                      Crime Data Query
                  </h2>
              </a>
              <a class="post-link" href="{{ site.baseurl | remove_first: '/'}}/projects">
                  <p class="description">An academic group project that cross-examines Canadian Census data to answer user-created queries.</p>
              </a>
              <div class="tags">
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">software</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">cli</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">perl</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">academic</a>
              </div>
          </div>
      </article>

      <article class="box-item post-grey" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
          <span class="ribbon">
              <a href="{{ site.baseurl | remove_first: '/'}}/projects"><span>Jekyll</span></a>
          </span>
          <div class="box-body">
              <a class="post-link" href="{{ site.baseurl | remove_first: '/'}}/projects">
                  <h2 class="post-title" itemprop="name">
                      Portfolio Website
                  </h2>
              </a>
              <a class="post-link" href="{{ site.baseurl | remove_first: '/'}}/projects">
                  <p class="description">The website that you are currently on was created by combining a few jekyll templates together and adding a personal flair.</p>
              </a>
              <div class="tags">
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">frontend</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">jekyll</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">gulp.js</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">github-pages</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">html</a>
                  <a href="{{ site.baseurl | remove_first: '/'}}/projects">css</a>
              </div>
          </div>
      </article>

  </div>

<!--<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url | remove_first: '/'}}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>-->