---
layout: default
title: Home
---

<h1 class="page-title">Welcome</h1>
<p>
Hi there! My name is Jason Ellul - I am a software engineering student and an IT Consultant at the University of Guelph, located in Guelph, Ontario. I am currently in my third year of university, and I am always looking for new opportunities to <i>develop</i> my passion for programming and design both inside and outside of school. Feel free to <a>contact me</a> about any inquiries you may have!
</p>

<h2 id="about-blackdoc-theme">About This Site</h2>

<p>Some relevant information you can find on the pages of this website:</p>

<ul>
  <li><a href="../about">Get to know me personally. A profile of my interests, hobbies, and goals.</a></li>
  <li><a href="../resume">A summary of my skills, recent employment history, and achievements.</a></li>
  <li><a href="../projects">Projects I've worked on throughout my 7 years of experience in software development.</a></li>
  <li><a href="../coop">Bachelor of Computing Co-op Work Term Reports.</a></li>
</ul>

<!--<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url | remove_first: '/'}}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>-->