<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1 class="uk-light">
        <a href="https://jasonellul.github.io">
          jason ellul
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href=" {{ site.url }} ">Home</a>
      <a class="sidebar-nav-item" href="https://jasonellul.github.io/about" rel="grow">{{ About Me }}</a>
      <a class="sidebar-nav-item{% if page.url == '/about.html' %} active{% endif %}" href="{{ site.baseurl }}{{ '/about' | remove_first: '/' }}" rel="grow">About Me</a>
      <a class="sidebar-nav-item{% if page.url == '/resume.html' %} active{% endif %}" href="{{ site.baseurl }}{{ '/resume' | remove_first: '/' }}" rel="grow">Resume</a>
      <a class="sidebar-nav-item{% if page.url == '/projects.html' %} active{% endif %}" href="{{ site.baseurl }}{{ '/projects' | remove_first: '/' }}" rel="grow">Projects</a>
      <hr class="hr-sidebar">
      <ul class="social">
        <li class="social">
          <a class="sidebar-nav-item" href="https://www.github.com/JasonEllul" target="_blank"><i class="fa fa-github fa-lg"></i></a>
        </li>
        <li class="social">
          <a class="sidebar-nav-item" href="https://www.linkedin.com/in/jason-ellul-30718114b/" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
        </li>
        <li class="social">
          <a class="sidebar-nav-item" href="https://stackoverflow.com/users/10153065/hackerman58888" target="_blank"><i class="fa fa-stack-overflow fa-lg"></i></a>
        </li>

      </ul>
    </nav>
    <small><center><p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p></center></small>
  </div>
</div>
